$primary-color: #444;
$secondary-color: #222222;
$text-color: #000;
$light-color: #fff;
$virtual-key--color: rgba(101,134,177,0.8);
$virtual-keyboard--bg: #888888;
$virtual-keyboard--bor: #222222;
$key--hover: #79aa89;
$textarea-line: rgba(130, 175, 235, 0.8);
